<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MovieLens Demo</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
	<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>

<body>
<div id="app" class="container">
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">MovieLens Demo</h1>
			</div>
		</div>
	</section>
	<div>
		<!-- search -->
		<form class="columns is-multiline is-mobile" @submit="onSearch">
			<!-- search input -->
			<div class="column is-12">
				<b-field>
					<b-input placeholder="Search..." id="search" v-model="q" type="search" size="is-large">
					</b-input>
				</b-field>
			</div>
			<!-- genre filter -->
			<b-field class="column is-6">
				<b-taginput
					v-model="genresChosen"
					:data="genresAvailable"
					size="is-small"
					type="is-info"
					autocomplete
					@typing="filterGenres"
					:open-on-focus="true"
					field="name"
					placeholder="genres..."
				></b-taginput>
			</b-field>
			<!-- tag filter -->
			<b-field class="column is-6">
				<b-taginput
					v-model="tagsChosen"
					:data="tagsAvailable"
					size="is-small"
					@typing="filterTags"
					type="is-info"
					autocomplete
					:open-on-focus="true"
					field="name"
					placeholder="tags..."
				></b-taginput>
			</b-field>
			<div class="column is-12">
				<b-button class="is-pulled-right" native-type="submit" type="is-primary" size="is-large" :loading="isContentLoading">Search</b-button>
			</div>
		</form>
		<template>
			<b-table
				v-if="searchResults.results.length > 0"
				:data="searchResults.results"
				:loading="isContentLoading"
				striped
				paginated
				backend-pagination
				@page-change="onPageChange"
				:total="searchResults.count"
				per-page="25"
				icon-pack="fas"
			>
				<b-table-column field="name" label="Title" v-slot="props">
					{{ props.row.name }}
				</b-table-column>
				<b-table-column field="genres" label="Genres" v-slot="props">
					<a @click="setGenre(genre)" v-for="genre of genresForMovie(props.row)">[{{ genre.name }}] </a>
				</b-table-column>
			</b-table>
		</template>
	</div>
</div>

<script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script src="https://unpkg.com/rxjs@6.5.5/bundles/rxjs.umd.min.js"></script>
<script>
	// main app
	let app = new Vue({
		el: '#app',
		data: {
			q: '',
			page: 1,
			isContentLoading: false,
			genresAvailable: [],
			genresChosen: [],
			tagsAvailable: [],
			tagsChosen: [],
			searchResults: {
				count: 0,
				results: [],
			},
		},
		methods: {
			onSearch (e) {
				// reset page since it's a new search
				this.page = 1;
				this.search();
				e.preventDefault();
			},
			search () {
				this.isContentLoading = true;

				// fetch movies
				this.fetchMovies().then(() => {
					this.isContentLoading = false;
				});
			},
			fetchMovies() {

				const params = this.getSearchUrlParams();

				// construct url
				const url = `/api/movie/${params}`;

				// fetch movies
				return fetch(url).then((response) => {
					if (response.ok) {
						return response.json().then((data) => {
							this.searchResults = data;
							console.log('results', this.searchResults);
						});
					} else {
						console.error(response);
					}
				});
			},
			fetchGenres() {

				// construct url
				const url = `/api/genre/`;

				// fetch genres
				return fetch(url).then((response) => {
					if (response.ok) {
						return response.json().then((data) => {
							this.genresAvailable = data.results;
						});
					} else {
						console.error(response);
					}
				});
			},
			fetchTags() {

				// construct url
				const url = `/api/tag/`;

				// fetch tags
				return fetch(url).then((response) => {
					if (response.ok) {
						return response.json().then((data) => {
							this.tagsAvailable = data;
						});
					} else {
						console.error(response);
					}
				});
			},
			filterTags(string) {
				this.tagsAvailable = this.tagsAvailable.filter((tag) => {
					const re = new RegExp(string.toLowerCase());
					return re.test(tag.name.toLowerCase());
				});
			},
			filterGenres(string) {
				this.genresAvailable = this.genresAvailable.filter((genre) => {
					const re = new RegExp(string.toLowerCase());
					return re.test(genre.name.toLowerCase());
				});
			},
			getSearchUrlParams() {

				let params = new URLSearchParams();

				// search query
				if (this.q) {
					params.append('search', this.q);
				}
				// genres
				this.genresChosen.forEach((genre) => {
					params.append('genres', genre.id);
				});
				// tags
				this.tagsChosen.forEach((tag) => {
					params.append('tags', tag.id);
				});
				// page
				params.append('page', this.page);

				// return url params
				return `?${params.toString()}`;
			},
			genresForMovie (movie) {
				return this.genresAvailable.filter((genre) => {
					return movie.genres.includes(genre.id);
				});
			},
			setGenre(genre) {
				this.genresChosen = [genre];
				this.search();
			},
			onPageChange(page) {
				this.page = page;
				this.search();
			}
		},
		created () {
			Promise.all([
				this.fetchGenres(),
				this.fetchTags(),
			]).then(() => {
				this.isContentLoading = false;
				this.search();
			});
		},
	});
</script>
</body>
</html>
